<div class="logo-menu">
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
          <a class="navbar-brand" href="#">LOGO</a>
        </div>
  
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="['/contact']">Contact <span class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/about']">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/login']">Login</a></li>
            <li><a [routerLink]="['/register']">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<div class="container">
  <router-outlet></router-outlet>
</div>


<!-- Copyright Section End-->

<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>

<!-- Smooth Scroll -->
<!-- Smooth Scroll -->
<script src="assets/js/smooth-scroll.js"></script>
<script src="assets/js/lightbox.min.js"></script>

<!-- All JS plugin Triggers -->
<script src="assets/js/main.js"></script>